.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  width: 100%;
  position: relative;
}

.bg-cut {
  position: absolute;
  
  background-color: #707070;
  width: 100%;
  height: 100px;
}

.texto {
  text-align: center;
  background-color: #707070;
  padding-bottom: 170px;
  width: 100%;
}

.bg-color {
  background-color: white;
  width: 100%;
  height: 300px;
  z-index: -1;
  position: absolute;
  transform: skewY(-3deg);
}

bg-down {
  background-color: #707070;
  justify-content: flex-end;
  height: 150px;
}