.formulario-um {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.inputTxt {
  height: 30px;
  width: 100%;
}

label {
  color: #888888;
  font-family: Arial, Helvetica, sans-serif;
}

.radios {
  display: flex;
  width: 200px;
  gap: 40px;
  justify-content: flex-start;
  color: #888888;
  opacity: 1;
  font-size: 12px;
}

.botaoForms {
  width: 340px;
}

@media (max-width: 900px) {
  .formulario-um {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px;
  
  }

  .inputForm {
    width: 100%;
    padding: 15px;
    gap: 20px
  }
}
